* {
    margin: 0;
    padding: 0;

}

.container {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    border: 1px solid;
    text-align: center;

  }

button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-top: 20px;
}

#finish-btn {
    display: none;
  }

#quiz-container-results{
  display: none;
}
© 2021 GitHub, Inc
